.loader {
   border: 12px solid transparent; /* Light grey */
   border-top: 12px solid #4c4129;;
   border-bottom: 12px solid #4c4129;;
   border-radius: 50%;
   width: 60px;
   height: 60px;
   animation: spin 1.2s linear infinite;
}
 
@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}